body {
  font-size: 16px;
}

.page-content {
	padding: 20px;
}

.message {
	background-color: lightgrey;
	padding: 10px;
}

.redtext {
	color: red !important;
}

.redbackground {
	background-color: red !important;
}

.buttonlink {
  text-decoration: none;
}

.apartment-description {
	max-width: 240px;
	overflow: hidden;
	word-wrap: break-word;
}

.apartment-description * {
	max-width: 100%;
}

.preview-img {
	max-width: 150px;
	max-height: 150px;
}

.dashboard-chart {
	max-width: 100%;
}